@model PokemonData.Pokemon

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="detail-grid-container">
        <img src=@Model.Sprite height="200" width="200" />

        <dl class="dl-horizontal">
            <dt>
                No.
            </dt>

            <dd>
                @Html.DisplayFor(model => Model.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>


        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Types)
            </dt>

            <dd>
                @foreach (var item in Model.Types)
                {
                    @item.Type.Name <br />
                }
            </dd>
        </dl>
        <div> 
        </div>
        <div>

        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>

        </dl>
        <p></p>
        <p>@Model.Description</p>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
